h1 {
    font-family:  Arial, Sans-serif;
    font-size: 2em;
  }
  
  h2 {
    font-family:  Arial, Sans-serif;
    font-size: 1.5em;
  }
  
  p {
    font-family:  Helvetica, Sans-serif;
    margin-bottom: 1.5rem;
  }